.idea
.cache
.coverage
*.egg-info
build
dist
*.iml
*.pyc
*~

# These are generated in sg_init.sh script
tests/conf/transport-node-0-keystore.jks
tests/conf/http-node-0-keystore.jks
tests/conf/truststore.jks
